.new-btn, .save-btn {
  padding: 5px 15px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  font-size: 13px;
  cursor: pointer;
  outline: none;
  border: none;
  box-sizing: border-box;
}

.new-btn span{
  margin: 0 5px;
}

.save-btn {
  width: 140px;
  height: 34.5px;
  background-color: #ff0047;
  text-align: center;
  color: #ffffff;
}

.save-btn.disabled, .new-btn {
  background-color: #ffffff;
  opacity: 0.8;
  color: #6c6c6c;
  border: solid 1px rgba(0, 0, 0, 0.1);
}

.save-btn.disabled {
  cursor: auto;
}