.phone {
  background-image: url('./phone.svg');
  object-fit: contain;
  width: 231px;
  height: 481px;
  padding: 20px;
}

.notification img {
  width: 178px;
  opacity: 0.95;
}

.notification {
  width: 178px;
  height: 235px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1), 0 0 20px 0 rgba(0, 0, 0, 0.02);
  margin: 122px 29px;
}
.notification figcaption {
  box-sizing: border-box;
  text-align: center;
  padding: 10px;
}

.notification h4 {
  font-size: 10px;
  color: #000;
  margin-bottom: 10px;
}

.notification p {
  font-size: 8px;
  color: #9e9e9e;
}