aside {
  flex-basis: 240px;
  background-color: #2c0515;
  min-height: 100%;
}
.wrapper {
  max-width: 100%;
  min-height: 100vh;
  display: flex;
}
main {
  flex-basis: calc(100% - 240px);
  background-color: #f3f3f3;
}