header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
  align-items: center;
  border-right: 2px solid rgba(40,44,55, .1);
}

header::after {
  position: absolute;
  content: '';
  height: 2px;
  width: 100%;
  opacity: 0.1;
  top: 80px;
  left: 0;
  background-color: #333333;
}

header h2 {
  margin-left: 20px;
  display: inline-block;
  font-weight: bold;
}

header .back {
  height: 100%;
  cursor: pointer;
  width: 73px;
  opacity: 0.5;
  background-color: #ffffff;
  border: none;
}


header .left {
  height: 100%;
}

