header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
  align-items: center;
  border-right: 2px solid rgba(40,44,55, .1);
}

header h2 {
  margin-left: 20px;
  display: inline-block;
  font-weight: bold;
}

header .back {
  height: 100%;
  cursor: pointer;
  width: 73px;
  opacity: 0.5;
  background-color: #ffffff;
  border: none;
}

header .back:focus {
  box-shadow: 1px 1px 7px 0px rgba(0,0,0,0.85);
}


header .left {
  height: 100%;
}

