header {
  height: 80px;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
  align-items: center;
  border-right: 2px solid rgba(40,44,55, .1);
}

header h2 {
  margin-left: 20px;
}

